*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Mulish", sans-serif;
}
body{
    width: 70%;
    margin: 0 auto;
    text-align: center;
    align-items: center;
}
.header-section{
    display: flex;
    justify-content: space-between;
    background-color: transparent;
    margin: 50px 0;
    text-align: center;
    align-items: center;

}
.header-section .logo-content {
    display: flex;
    font-size: 24px;
}
.logo-content img{
    width: 48px;
    height: auto;
    padding-right: 5px;
}
.logo-content span{
    color: #FF5400;
}
.navigation-bar a{
    font-size: 18px;
    color:#424247;
    text-decoration: none;
    font-weight: 400;
    padding: 0 44px;
    text-align: center;
    align-items: center;
    cursor: pointer;
}
.navigation-bar a:hover {
    color: #FF5400;
}
.navigation-bar a:active {
    color: #FFF;
}
.hero-section-container{
    width: 100%;
    height: 500px;
    margin: 15px auto;
    background-image: url(Images/hero.png);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    align-items: center;
}
.hero-container h1 {
    padding: 150px 0 24px 0;
    font-size: 64px;
    color: white;
    text-align: center;
    align-items: center;
}
.hero-container p {
    color: white;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
}
.btn-container {
    width: 60%;
    height: 84px;
    margin: 15px auto;
    display: flex;
    justify-content: space-around;
    text-align: center;
    align-items: center;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.30);
}
.btn-container button {
    width: 174px;
    height: 52px;
    border-radius: 8px;
    background: #FFF;
    border-style: none;
    text-align: center;
    align-items: center;
}
.btn-container .find {
    background-color: #FF5400;
    color: #fff;
}

.Our-Popular-Tours-container{
    width: 100%;
    height: 550px;
    margin: 55px auto;
    display: flex;
    justify-content: space-between;
    
}
.Our-Popular-Tours-contant {
    text-align: left;
    align-items: center;
    color: rgba(19, 19, 24, 0.70);
    list-style-position:inside;
}
.Our-Popular-Tours-contant h1{
    font-size: 40px;
    color: #131318;
    font-weight: 800;
    padding-bottom: 25px;
}
    
.Our-Popular-Tours-contant p, ul, li{
    padding-bottom: 20px;
}
.Our-Popular-Tours-contant button{
    width: 174px;
    height: 52px;
    color: #FFF;
    text-align: center;
    margin-top: 25px;
    font-size: 20px;
    font-weight: 800;
    border-radius: 8px;
    background: #FF5400;
    border-style: none;
}
.Our-Popular-Tours-contant img{
    width: 540px;
    height: 550px;
    border-radius: 16px;
}
.Choose-Your-Destination-container{
    width: 100%;
    margin: 25px auto;
}
.Choose-Your-Destination-container h1{
    color: #131318;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
    margin: 90px 0 25px 0 ;
}
.Choose-Your-Destination-container p{
    color: rgba(19, 19, 24, 0.70);
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 50px;
}
.gallary-img-container{
    width: 100%;
    height: auto;
    margin: 25px auto;
    padding: 15px 0 15px 0;
}
.gallary-img-container img{
    padding: 25px auto;
    gap: 25px;
}
.Why-Choose-Us-container h1{
    color: #131318;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 15px;
}
.Why-Choose-Us-container p{
    color: rgba(19, 19, 24, 0.70);
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 45px;
}
.world-class-service-container{
    display: flex;
    justify-content: space-between;
    text-align: left;
    border-radius: 16px;
}
.Handpicked-Hotels-content{
    width: 573px;
    height: 284px;
    text-align: left;
    align-items: center;
    padding: 35px;
    border-radius: 16px;
    border: 1px solid rgba(251, 181, 99, 0.20);
    background: rgba(251, 181, 99, 0.05);
}
.Handpicked-Hotels-content h2{
    margin: 15px 0;
}
.World-Class-Service-containt{
    width: 573px;
    height: 284px;
    text-align: left;
    align-items: center;
    padding: 35px;
    border-radius: 16px;
    border: 1px solid rgba(41, 206, 246, 0.20);
    background: rgba(41, 206, 246, 0.05);
}
.World-Class-Service-containt h2{
    margin: 15px 0;
}
.Best-Price-Guarantee-contant{
    width: 573px;
    height: 284px;
    margin: 25px auto;
    text-align: left;
    align-items: center;
    padding: 35px;
    border-radius: 16px;
    border: 1px solid rgba(233, 68, 68, 0.20);
    background: rgba(233, 68, 68, 0.05);
}
.Best-Price-Guarantee-contant h2{
    margin: 15px auto;
}
.Deals-and-Discounts h1{
    padding: 25px 0 15px 0;
    color: #131318;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
}
.Deals-and-Discounts p{
    padding: 15px 0;
    color: #5A5A5D;
    font-size: 16px;
    font-weight: 400;
}
.Deals-and-Discounts button{
    margin:25px 0;
    width: 210px;
    height: 52px;
    color: #FFF;
    text-align: center;
    font-size: 20px;
    font-weight: 800;
    border-radius: 8px;
    background: #FF5400;
    border-style: none;
}
.Simple-Perfect-Place-container{
    display: flex;
    justify-content: space-between;
    text-align: left;
    margin: 25px 0;
}
.Simple-Perfect-Place-container h1, p, li{
    padding-bottom: 20px;
}
.Simple-Perfect-Place-container h1{
    padding-bottom: 15px;
    color: #131318;
    font-size: 40px;
    font-weight: 800;
}
.Simple-Perfect-Place-container p{
    color: #5A5A5D;
    font-size: 16px;
    font-weight: 400;
}
.Simple-Perfect-Place-container li{
    color: #131318;
    font-size: 16px;
    font-weight: 700;
}
.Simple-Perfect-Place-container button{
    width: 174px;
    height: 52px;
    margin: 45px 0;
    color: #FFF;
    text-align: center;
    font-size: 20px;
    font-weight: 800;
    border-radius: 8px;
    background: #FF5400;
    border-style: none;
}
.video-contanter{
    width: 610px;
    height: 424px;
    border-radius: 16px;
    background-image: url(Images/Group\ 40089.png);
}
.video-contanter video{
    width: 610px;
    height: 424px;
    opacity: 0.3;
    border-radius: 16px;
}
.Newsletter-container{
    display: flex;
    justify-content: space-between;
    text-align: left;
}
.input-container{
    width: 474px;
    height: 422px;
    padding: 40px;
    border-radius: 16px;
    border: 1px solid #FF5400;
    display: block;
}
.input-container h3{
    color: #131318;
    font-size: 24px;
    font-weight: 800;
    padding: 15px 0;
}
.input-container p{
    color: #5A5A5D;
    font-size: 16px;
    font-weight: 400;
    padding-bottom: 25px;
}
hr{
    opacity: 0.3;
}
.input-container label input{
    width: 393px;
    height: 52px;
    margin-top: 20px;
    border-radius: 8px;
    border-style: none;
    background: rgba(19, 19, 24, 0.03);
}
.input-contant button{
    width: 393px;
    height: 52px;
    color: #FFF;
    margin-top: 35px;
    text-align: center;
    font-size: 20px;
    font-weight: 800;
    border-radius: 8px;
    border-style: none;
    background: #FF5400;
}
.footer-container{
    width: 100%;
    margin: 25px auto;
    height: 502px;
    background: rgba(19, 19, 24, 0.05);
}
.footer-container img{
    padding: 25px 0;
}
.footer-container p{
    padding: 25px 0;
    color: #131318;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
}

.footer-logo-containt{
    padding-top: 145px;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin: 25px 0;
}








