*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Mulish", sans-serif;
}
body{
    width: auto;
}
.header-section{
    display: flex;
    justify-content: space-around;
    background-color: transparent;
    margin: 50px 0;
    text-align: center;
    align-items: center;

}
.header-section .logo-content {
    display: flex;
    font-size: 1.7rem;
}
.logo-content img{
    width: 48px;
    height: auto;
    padding-right: 5px;
}
.logo-content span{
    color: #FF5400;
}
.navigation-bar a{
    font-size: 18px;
    color:#424247;
    text-decoration: none;
    font-weight: 400;
    padding: 0 44px;
    text-align: center;
    align-items: center;
    cursor: pointer;
}
.navigation-bar a:hover {
    color: black;
}
.navigation-bar a:active {
    color: #FF5400;
}
.hero-section-container{
    width: auto;
    height: 500px;
    margin: 15px auto;
    background-image: url(Images/hero.png);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    align-items: center;
}
.hero-container h1 {
    padding: 150px 0 24px 0;
    font-size: 64px;
    color: white;
    text-align: center;
    align-items: center;
}
.hero-container p {
    color: white;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
}
.btn-container {
    max-width: 800px;
    height: 84px;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.30);
    text-align: center;
    align-items: center;
}
.btn-container button {
    width: 174px;
    height: 52px;
    border-radius: 8px;
    background: #FFF;
    border-style: none;
    text-align: center;
    align-items: center;
}
.btn-container .find {
    background-color: #FF5400;
    color: #fff;
}
